.filters {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.input {
  padding: 0.35rem 0.8rem;
  border: 1px solid green;
  border-radius: 0.5rem;
}
.input:focus {
  outline: 2px solid rgb(0, 179, 0);
}
.button {
  text-transform: uppercase;
  padding: 0.35rem 0.8rem;
  border: 1px solid green;
  background-color: greenyellow;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3;
  font-weight: 700;
  letter-spacing: 0.05rem;
}
.button:hover {
  background-color: rgb(129, 214, 0);
  transition: all 0.3;
}
.button:active {
  background-color: rgb(129, 214, 0);
  background-color: green;
}
.button:disabled {
  color: rgb(102, 102, 102);
  background-color: rgb(172, 172, 172);
}
